
body {
	font: 13px Helvetica, arial, freesans, clean, sans-serif;
	line-height: 1.4;
	color: #333333;
	background: #fff;
	margin-top: 75px;
	padding-left: 50px;
	padding-right: 50px;
	/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(bottom, #6B6B6B 0%, #000203 100%);
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(bottom, #6B6B6B 0%, #000203 100%);
	/* Opera */ 
	background-image: -o-linear-gradient(bottom, #6B6B6B 0%, #000203 100%);
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #6B6B6B), color-stop(1, #000203));
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(bottom, #6B6B6B 0%, #000203 100%);
	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to top, #6B6B6B 0%, #000203 100%);
}


.comeback {
	font-family: 'Montserrat', sans-serif;
	color: #F2F2F2;
	text-align: center;
}

.social-media {
	font-family: 'Changa One', cursive;
}

.red {
	color: #C21B1B;
}

.login-toolbar {
	padding-left: 15px;
	padding-right: 15px;
	margin-right: 0px;
	margin-left: 0px;
}

.font-large {
	font-weight: bold;
	font-size: 30px;
}

.font-small {
	font-weight: normal;
	font-size: 9px;
}

.page-header .btn-lg {
	margin-top: 14px;
	margin-bottom: 10px;
}

.chat-room {
	overflow-y: scroll;
	overflow-x: hidden;
	height: 200px;
	width: auto;	
}

/* Let's get this party started */
.chat-room::-webkit-scrollbar {
    width: 6px;
}
 
/* Track */
.chat-room::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
.chat-room::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(245,245,245,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
.chat-room::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(245,245,245,0.4); 
}
