<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible", content="IE=edge,chrome=1" />
	<meta name="viewport", content="width=device-width,initial-scale=1" />

	<title>Fortunae Filii </title>
	<meta http-equiv="Content-type", content="text/html;charset=UTF-8" />
	<link href="/favicon.ico", rel="shortcut icon", type="image/x-icon" />
	<link rel="stylesheet", type="text/css", href="/plugins/bootstrap/css/bootstrap.css" />
	<link rel="stylesheet", href="/css/comeback.css" />
	<link href='http://fonts.googleapis.com/css?family=Changa+One' rel='stylesheet' type='text/css'>
</head>
<body>
	<div class="comeback"> 
		<center><img class="img-responsive" src='/img/site_logo.png' alt='logo' /></center>
		<h1>COMING BACK </h1>
		<h1>SOON</h1>
	</div>
	<footer id="footer">
		<div class="social-media">
			<div class="col-lg-4">
				<h1><a href="http://www.facebook.com/FortunaeFilii" class="facebook">facebook</a></h1>
			</div>
			<div class="col-lg-4">
				<h1><a href="http://www.twitter.com/FortunaeFilii" class="twitter">twitter</a></h1>
			</div>
			<div class="col-lg-4">
				<h1><a href="http://steamcommunity.com/groups/FortunaeFilii" class="steam">steam</a></h1>
			</div>
		</div>
	</footer>
</body>
</html>
